[Desktop Entry]
Name=ESI-Studio
Exec=/usr/lib/esi-studio/esi-studio %U
Icon=/usr/share/pixmaps/esi-studio.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;